:root {
    --ff-title: "Playfair Display", sans-serif;

    --fs-title: clamp(1.5rem, 3vw, 2rem);
    --fs-body: clamp(1rem, 2vw, 1.2rem);

    --inline-pad-mobile: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

ul, ol {
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif; 
    line-height: 1.5;
}

.flex-gap {
    display: flex;
    gap: 2em;
}

main {
    display: grid;
    justify-items: center;
}

.content-max-width {
    max-width: 990px;
}

.title {
    font-size: var(--fs-title);
    font-weight: 500;
    font-family: var(--ff-title);
}

.about-me {
    margin: 2rem 1.5rem 0;
}

.profile {
    position: relative;
    width: 24rem;
    display: grid;
    align-content: center;
    float: left;
    margin-right: 2rem;
}

.profile .name {
    font-family: "Playfair Display", sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
    color: white;
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
}

.profile-img {
    width: 100%;
}

.about-me-text{
    padding: 1rem 2rem;
    margin-top: 3rem;
    margin-left: 3rem;
    background-color: aliceblue;
}

.about-me-text .title {
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: "Playfair Display", sans-serif;
    min-width: max-content;
}

.about-me-text p {
    font-size: var(--fs-body);
}

.sites-list {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}

.about-me-sites .site-icon svg {
    fill: black;
    width: 2em;
}

footer {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.footer-content {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    margin:4rem 1.5rem 3rem;
    gap: 3rem;
}

.contact-me {
    font-size: var(--fs-body);
}

.contact-me .title {
    margin-bottom: .6rem;
}

.postal-address {
    margin: 1.5rem 0;
}

.contact-me-sites {
    margin-top: 1.5rem;
}

.contact-me p {
    max-width: 35ch;
}

.tel, .mail {
    display: flex;
    gap: 1rem;
}

.contact-icon svg {
    fill: black;
    width: 1.5em;
}

.contact-me-sites .site-icon svg {
    fill: black;
    width: 2em;
}

.footer-img {
    width: 35rem;
    transition: width .2s;
}

@media (max-width: 1000px) {
    .about-me,
    .footer-content {
        margin-inline: var(--inline-pad-mobile);
    }

    .profile .name {
        top: .5rem;
        bottom: auto;
        left: 60vw;
    }

    .about-me-text {
        margin-top: 6rem;
    }

    .footer-img {
        width: clamp(10rem, 40vw, 20rem);
    }
}

@media (max-width: 600px) {
    .about-me {
        display: grid;
        justify-items: center;
        margin-inline: 0;
    }

    .profile {
        height: auto;
        width: clamp(17rem, 80vw, 24rem);
        margin: 0;
    }

    .profile .name {
        text-wrap: initial;
        left: 0;
        top: auto;
        bottom: 0;
        padding: .5rem 1rem;
        transform: translateX(0);
    }

    .about-me-text {
        margin: 0;
        background-color: transparent;
    }

    .about-me .title,
    .sites-list,
    .contact-me-sites {
        justify-self: center;
    }

    .footer-content {
        grid-auto-flow: row;
        margin-inline: 0;
        margin-bottom: 0;
    }

    .contact-me {
        margin-inline: var(--inline-pad-mobile);
    }

    .contact-me-sites {
        margin-top: 3rem;
    }

    .footer-img {
        width: 100%;
        position: relative;
        bottom: -1rem;
    }
}